{{- define "main" }}
{{- partial "crumb.html" . }}

<header class="pagehead">
  <span class="label">{{ .Data.Singular }}</span>
  <h1 class="pagehead__title">{{ .Title }}</h1>
</header>

<div class="rows">
  {{- range .Pages.ByDate.Reverse }}
  <a class="row" href="{{ .RelPermalink }}">
    <time class="row__date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
    <div>
      <span class="row__title">{{ with .Params.hex }}<span class="mono">{{ . }}</span> {{ end }}{{ .Title }}</span>
      {{- with .Description }}<span class="row__desc">{{ . }}</span>{{ end }}
    </div>
  </a>
  {{- end }}
</div>
{{- end }}
